.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 2rem;
    padding: 15px;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        column-gap: 2rem;
        row-gap: 1rem;
    }
}